[package]
name = "library"
version = "0.1.0"
edition = "2024"
description = "Core library for video editor."

[features]
default = ["gl"]
gl = []

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0"
ffmpeg-next = "8.0.0"
image = "0.25.9"
skia-safe = { version = "0.91.0", features = ["gpu", "gl", "textlayout"] }

log = "0.4.26"
env_logger = "0.11.8"
lru = "0.16.2"
ordered-float = { version = "5.1.0", features = ["serde"] }
libloading = "0.9"
glutin = "0.32.3"
glutin-winit = "0.5.0"
winit = { version = "0.30.12", features = ["rwh_06"] }
raw-window-handle = "0.6"
windows-sys = { version = "0.61", features = [
    "Win32_Foundation",
    "Win32_UI_WindowsAndMessaging",
    "Win32_System_LibraryLoader",
    "Win32_Graphics_Gdi",
    "Win32_Graphics_OpenGL"
] }
thiserror = "2.0"
tokio = { version = "1", features = ["full"] }
rayon = "1.9.0"
uuid = { version = "1.19.0", features = ["serde", "v4"] }
bincode = "2.0.1"
#opencv = "0.94.2"

shaderc = "0.10.1"
toml = "0.9.8"
pyo3 = { version = "0.27.2", features = ["auto-initialize"] }
cpal = "0.15"
symphonia = { version = "0.5", features = ["all"] }
rubato = "0.16.1"
rtrb = "0.3"
anyhow = "1.0"

[profile.release]
debug = true

[dev-dependencies]


