name: Build and Package Rust App for Windows

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@fcf085fcb4b4b8f63f96906cd713eb52181b5ea4

      - name: Setup Visual Studio
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Install vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat
          .\vcpkg integrate install
          .\vcpkg install ffmpeg:x64-windows
          cd ..

      - name: Set up environment variables
        run: |
          echo "VCPKG_ROOT=${{ github.workspace }}/vcpkg" >> $env:GITHUB_ENV
          echo "VCPKG_DEFAULT_TRIPLET=x64-windows" >> $env:GITHUB_ENV
          echo "RUSTFLAGS=-C target-feature=+crt-static" >> $env:GITHUB_ENV

      - name: Install Vulkan SDK
        run: |
          $vulkanVersion = (Invoke-WebRequest -Uri "https://vulkan.lunarg.com/sdk/latest.json" | ConvertFrom-Json).windows
          $installerUrl = "https://sdk.lunarg.com/sdk/download/$vulkanVersion/windows/VulkanSDK-$vulkanVersion-Installer.exe"
          $installerPath = "$env:TEMP\VulkanSDK-$vulkanVersion-Installer.exe"
          Invoke-WebRequest -Uri $installerUrl -OutFile $installerPath
          Start-Process -FilePath $installerPath -ArgumentList "/S" -Wait
          Remove-Item $installerPath

      - name: Build Release
        run: |
          # Visual Studioの環境変数を設定
          $vsPath = "C:\Program Files\Microsoft Visual Studio\2022\Community"
          $vcvarsPath = "$vsPath\VC\Auxiliary\Build\vcvars64.bat"
          cmd /c "`"$vcvarsPath`" && cargo build -p app --release"

      - name: Package
        run: |
          mkdir installer
          powershell Compress-Archive -Path target\release\*.exe -DestinationPath installer\app.zip

      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: installer-windows
          path: installer/
